<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'home/login.css' %}">
</head>
<body>
    
    <br>
    <div class="form-box">
    <form class="form" method="post">
        {% csrf_token %}
       <p class="form-title">Sign in to your account</p>
        <div class="input-container">
          <input type="text" placeholder="Enter username" name="username">
          <span>
          </span>
      </div>
      <div class="input-container">
          <input type="password" placeholder="Enter password" name="password">
        </div>
         <a style="text-decoration: none;" href="{% url 'dashboard' %}"><button type="submit" class="submit">
        Sign in
      </button></a>

      <p class="signup-link">
        No account?
        <a href="{% url 'register' %}">Sign up</a>
      </p>
   </form>
   <p class="msg">{{msg}}</p>
   </div>
</body>
</html>