<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'home/register.css' %}">

</head>
<body>
    


   <div class="form-box">
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        
        <label>
            <input required placeholder="" type="text" class="input" id="id_{{form.username.name}}" name="{{form.username.name}}" value="{{form.username.value|default_if_none:''}}">
            <span>Username</span>
        </label>

        
   
            
    <label>
        <input required placeholder="" type="email" class="input" name="{{form.email.name}}" value="{{form.email.value|default_if_none:''}}">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input" name="{{form.password1.name}}" value="{{form.password1.value|default_if_none:''}}">
        <span>Password</span>
    </label>
    <label>
        <input required="" placeholder="" type="password" class="input" name="{{form.password2.name}}" value="{{form.password2.value|default_if_none:''}}">
        <span>Confirm password</span>
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a href="{% url 'login' %}">Signin</a> </p>
</form>
    <p>{{msg}}</p>
   </div>

</body>
</html>