<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <style>
        body{
           background-image: linear-gradient(to bottom,#f8fafc,#f3e8ff,#f3e8ff,#f8fafc);
        }
    </style>
</head>
<body>
    <h1>BUdget Page</h1>

    <div>
        <p>Take control of your expenses and save more money with budgets!</p>
        <button>Create a New Budget</button>
    </div>
</body>
</html>