<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}" />
  </head>
  <body>
    <!-- header -->
    <header>
      <nav>
        <div id="logo"><img class="logo-img" src="{% static 'images/logo-name-white.png' %}" alt="app-logo"></div>
        <div class="elements">
          <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'chart' %}">Chart</a></li>
            <li><a href="{% url 'budget' %}">Budgets</a></li>
          </ul>
        </div>

        <div id="profile">
          <span class="material-symbols-outlined"> account_circle </span>
          <div class="profile-container">
            <div class="profile-items">
              <div class="profile-name">
                {{ user.username }}
                <span class="arrow-dropdown material-symbols-outlined">
                  arrow_drop_down
                </span>
              </div>
              <div>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="logout-btn" type="submit">Logout</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- main -->
    <main>
      <div class="wallet">
        <h2>Wallets</h2>
      </div>
      <div class="wallet-sec">
        <div class="wallet-info">
          <div class="wallet-logo">
            <span class="material-symbols-outlined">
              account_balance_wallet
            </span>
          </div>
          <div class="my-wallet">
            <h3>My Wallet</h3>
            <p>Cash</p>
            <div>{{data.cash}} INR</div>
          </div>
        </div>
        <div class="new-wallet">
          <div class="add-new">Add New Wallet</div>
          <div class="connect-new">Connect Bank Account</div>
        </div>
        <div class="premium-container">
          <div class="premium-child-container">
            <div class="premium-head">Oops... Premium Feature</div>
            <p>To create more than one wallet you need to upgrade to premium</p>
            <button>Coming Soon...</button>
            <em id="rm-btn">Not Interested</em>
          </div>
        </div>
      </div>
      <div class="overview">
        <h2>Overview</h2>
      </div>
      <div class="overview-info">
        <div class="items">
          <h4>Total Balance</h4>
          <p>{{data.cash}} INR</p>
        </div>
        <div class="items">
          <h4>Total Period Change</h4>
          <p>{{data.cash}} INR</p>
        </div>
        <div class="items">
          <h4>Total Period Expenses</h4>
          <p>{{tot_expense}} INR</p>
        </div>
        <div class="items">
          <h4>Total Period Income</h4>
          <p>{{tot_income}} INR</p>
        </div>
      </div>
    </main>

    <script>
      const transactionUrl = "{% url 'transaction' %}";
    </script>
    <script src="{% static 'app/js/script.js' %}"></script>
  </body>
</html>
