{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
</head>
<body>
    <section class="transaction-sec">
    <h1>Transaction Page</h1>
    <button id="transactionBtn">Add Spent</button>

    <div class="spent-sec">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="">Expense</label>
                <input type="text" name="exp" id="">
            </div>
            <div>
                <label for="">Income</label>
                <input type="text" name="inc" id="">
            </div>
            <div>
                <label for="">Date</label>
                <input type="date" name="date" id="">
            </div>
            <div>
                <label for="">Description</label>
                <input type="text" name="desc" id="">
            </div>
            <div>
                <label for="">Enter Amount</label>
                <input type="number" name="amt" id="">
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
    <br><br><br>
    <p>{{data.cash}}</p>

    <h2>Incomes</h2>
        {% for i in data1 %}

            <a href="{% url 'delete1' data.id%}">
            <h4> {{i.id}}. {{i.income}}</h4>
            <p>{{i.date}}</p>
            <p>{{i.note}}</p>
            <p>{{i.amount}}</p>
            </a>

        {% empty %}
            <p>No income records yet.</p>
        {% endfor %}
    
    <br><br>
    
        <h2>Expenses</h2>
        {% for e in data2 %}
            <a href="{% url 'delete2' data.id %}">
                <h4>{{e.id}}.{{e.expense}}</h4>
            <p>{{e.date}}</p>
            <p>{{e.note}}</p>
            <p>{{e.amount}}</p>
            </a>

        {% empty %}
            <p>No Expenses recorded yet </p>
        {% endfor %}
    
    </section>

    <script src="{% static 'app/js/transaction.js' %}"></script>
</body>
</html>