{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
  </head>
  <body>
    <section class="transaction-sec">
      <button id="transactionBtn">Add Transaction</button>

      <div class="spent-sec">
        <form action="" method="post">
          {% csrf_token %}
          <div class="category-sec">
            <label for="category">Category</label>
            <select name="category" id="category">
              <option value="" disabled selected>--Select Category--</option>
              <option value="expense">➖Expense</option>
              <option value="income">➕Income</option>
            </select>
          </div>

          <div class="date-sec">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" />
          </div>
          <div class="desc-sec">
            <label for="desc">Description</label>
            <input
              type="text"
              name="desc"
              id="desc"
              placeholder="describe your bill"
            />
          </div>
          <div class="amount-sec">
            <label for="amt">Enter Amount</label>
            <input type="number" name="amt" id="amt" placeholder="0.00" />
          </div>
          <button type="submit" class="form-btn">Add</button>
        </form>
      </div>
      <br /><br /><br />
      <p>{{msg}}</p>

      <h2>Incomes</h2>
      {% for i in data1 %}
      <form action="{% url 'delete1' i.id %}" method="post">
        {% csrf_token %}

        <div class="income-data-container">
          <!-- <h4>{{i.income_type}}</h4> -->

          <span class="arrow-upward-alt material-symbols-outlined">
            arrow_upward_alt
          </span>

          <p>Date: {{i.date}}</p>
          <p>Note: {{i.note}}</p>
          <p>Amount: {{i.amount}}</p>
          <button
            class="inc-dlt-btn"
            type="submit"
            onclick="return confirm('Are you sure You want delete this?');"
          >
            Delete
          </button>
        </div>
      </form>

      {% empty %}
      <p>No income records yet.</p>
      {% endfor %}

      <br /><br />

      <h2>Expenses</h2>
      {% for e in data2 %}
      <form action="{% url 'delete2' e.id %}" method="post">
        {% csrf_token %}
        
        <div class="expense-data-cotainer">
          <!-- <h4>{{e.expense_type}}</h4> -->
          <span class="arrow-downward-alt material-symbols-outlined"> arrow_downward_alt </span>
          <p>Date: {{e.date}}</p>
          <p>Note: {{e.note}}</p>
          <p>Amount: {{e.amount}}</p>
          <button
            class="exp-dlt-btn"
            type="submit"
            onclick="return confirm('Are you sure you want to delete?');"
          >
            Delete
          </button>
        </div>
      </form>

      {% empty %}
      <p>No Expenses recorded yet</p>
      {% endfor %}
    </section>

    <script src="{% static 'app/js/transaction.js' %}"></script>
  </body>
</html>
